@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
body {
  min-height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-bg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#navBar {
  background-color: #1E2329;
  padding: 0;
}

.offcanvas, body {
  font-family: 'Ubuntu Condensed', sans-serif !important;
}

#mainTitle {
  font-family: Architects Daughter;
  color: #F5A302;
  margin: auto;
  cursor: context-menu !important;
}

.navbar-brand {
  cursor: context-menu !important;
}

#logo {
  width: 71px;
  height: 56px;
}

.dropdown-toggle {
  width: 45px;
}

.offcanvas {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 120px;
  letter-spacing: 1px;
}

.offcanvas-header {
  color: #3B4046;
  background-color: #F5A302;
  height: 55px;
}

.offcanvas-body {
  background-color: #3B4046;
  color: white;
}

a {
  text-decoration: none;
}

.dropdown-toggle, .card {
  border: none !important;
  background-color: transparent !important;
}

.dropdown-toggle::after {
  display: none;
}

#cardMain, .article-icon {
  top: auto !important;
  background-color: #f5a402b9 !important;
  text-align: start !important;
  line-height: 1.4;
}

h5 {
  -webkit-text-stroke: 0.3px black;
}

.card:hover {
  -webkit-box-shadow: black 3px 3px 3px;
          box-shadow: black 3px 3px 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(30px);
          transform: scale(30px);
}

.card {
  border-radius: 0 !important;
  border: 0;
}

.card-body {
  background-color: #FED154 !important;
}

.card-img-top {
  border: solid 6px #FED154 !important;
}

.no-decoration {
  text-decoration: none !important;
}

.normal-line-height {
  line-height: 3px !important;
}

.bg-transparent {
  background: transparent;
}

.sharp-corner {
  border-radius: 0 !important;
}

.tiny-border {
  border: solid  #FED154 1px !important;
}

.offset-card {
  top: auto !important;
  background-color: #fed154bb !important;
  text-align: start !important;
  line-height: 1.4 !important;
}

.gray-bg {
  background-color: #C4C4C4;
  font-size: 12px;
}

.progress {
  height: 9px !important;
}

* {
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  font-size: 20px;
}

.dropdown-menu li:hover {
  color: #FED154 !important;
  background-color: #111418 !important;
  font-size: 22px;
}

#contacts a:hover {
  color: #FED154 !important;
}

@media screen and (min-width: 800px) {
  .top10 p, #contacts, #disclaimerInfo, .card-body-person, .list-group-person li, .contacts-phones, .contacts-emails {
    font-size: 1.5em;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .img-colored {
    width: 12vw !important;
  }
  nav {
    padding-bottom: 5px !important;
  }
}

@media screen and (min-width: 575px) {
  .page-bg {
    background: transparent !important;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
}

@media screen and (min-width: 992px) and (max-width: 1760px) {
  #mainTitle {
    margin-left: 130px;
  }
}

.insta-button img {
  max-width: 120px !important;
  margin: auto !important;
}

.insta-button {
  border-radius: 10px;
}

.insta-button:hover {
  background-color: #6d3939;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.insta-button h4 {
  color: #FC8787;
}

.back-btn a:hover {
  color: #FED154 !important;
}

.twitter-button {
  border-radius: 10px;
}

.twitter-button:hover {
  background-color: #296b80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.twitter-button h4 {
  color: #54D2FA;
}

.twitter-button img {
  max-width: 120px !important;
  margin: auto !important;
}

.card-body-person, .list-group-person li {
  background: #f5a42bb9 !important;
  color: black;
}
/*# sourceMappingURL=style.css.map */